TF_VAR_ARM_CLIENT_ID       = "client id"
TF_VAR_ARM_CLIENT_SECRET   = "client secret"
TF_VAR_ARM_SUBSCRIPTION_ID = "subscription id to build in"
TF_VAR_ARM_TENANT_ID       = "tenant id"
pub_key_data               = "ssh-rsa [rest of ssh public key]"